//SCREEN SIZES
$screen-mobile: 48em;
$screen-tablet: 62em;
$screen-desktop: 75em;

//SPACING
$pad: 2rem;
$pad-xxs: calc(#{$pad}/8);
$pad-xs: calc(#{$pad}/4);
$pad-sm: calc(#{$pad}/2);
$pad-lg: calc(#{$pad} * 2);
$pad-xlg: calc(#{$pad} * 2.5);


//COLORS
$color-1: #F8FAFF;
$color-2: #E9F5FE;
$color-3: #04294F;
$color-4: #00AEE0;
$color-5: #FFB400;
$color-6: #FF3A00;
$color-7: lighten($color-3, 12%);
$color-8: lighten($color-3, 10%);
$color-9: lighten($color-3, 8%);
$color-10: lighten($color-3, 6%);
$color-11: lighten($color-3, 4%);
$color-12: darken($color-3, 2%);

//FONTS
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

$font-prime: 'DM Serif Display', serif;
$font-secondary: 'League Mono', 'League Spartan', sans-serif;
