.card {
  box-sizing: border-box;
  padding: $pad-sm;
  transform: scale(1.0, 1.0);
  border-radius: 25px;
  background-color: $color-3;
  color: $color-1;
  text-align: center;
  transition: all 0.5s ease;

  &__grid {
    grid-gap: $pad;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 $pad-xlg $pad-lg;

    @media screen and (min-width: $screen-mobile) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $screen-desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__type {
    grid-gap: $pad-sm;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: center;
    width: object-fit;
    text-align: center;

    .type {
      &__circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $color-6;
      }

      &__title {
        margin-bottom: 0;
        font-weight: 600;
        letter-spacing: 3px;
      }
    }
  }

  &__image {
    max-width: 8em;
    margin: $pad auto;
    border-radius: 50%;
  }

  &__title {
    @include fluid-type(1.6em, 2em);
    margin-bottom: $pad-sm;
    font-family: $font-prime;
  }

  &:hover {
    transform: scale(0.95, 0.95);
    background-color: lighten($color-3, 10%);
    cursor: pointer;
    transition: all 0.5s ease;
  }

  &--designer {
    .type__circle{
      background-color: $color-5;
    }

    .card__title {
      color: $color-5;
    }
  }

  &--project {
    .type__circle{
      background-color: $color-4;
    }

    .card__title {
      color: $color-4;
    }
  }
}
