body {
	min-height: 100%;
  background:
    linear-gradient(180deg, rgba($color-3 ,0) 20%, rgba($color-3,.1) 20%, rgba($color-3,.1) 40%, rgba($color-3,.2) 40%, rgba($color-3,.2) 60%, rgba($color-3,.4) 60%, rgba($color-3,.4) 80%, rgba($color-3,.5) 80%),
    linear-gradient(45deg, rgba($color-6,.2) 20%, rgba($color-6,.3) 20%, rgba($color-6,.3) 40%, rgba($color-6,.55) 40%, rgba($color-6,.55) 60%, rgba($color-6,.75) 60%, rgba($color-6,.85) 80%, rgba($color-6,1) 80%),
    linear-gradient(-45deg, rgba($color-11,0) 20%, rgba($color-11,.1) 20%, rgba($color-11,.1) 40%, rgba($color-11,.2) 40%, rgba($color-11,.2) 60%, rgba($color-11,.4) 60%, rgba($color-11,.4) 80%, rgba($color-11,.6) 80%),
    linear-gradient(90deg, rgba($color-10,0) 20%, rgba($color-10,.3) 20%, rgba($color-10,.3) 40%, rgba($color-10,.5) 40%, rgba($color-10,.5) 60%, rgba($color-10,.7) 60%, rgba($color-10,.7) 80%, rgba($color-10,.8) 80%),
    linear-gradient(-90deg, rgba($color-9,0) 20%, rgba($color-9,.4) 20%, rgba($color-9,.4) 40%, rgba($color-9,.5) 40%, rgba($color-9,.5) 60%, rgba($color-9,.6) 60%, rgba($color-9,.6) 80%, rgba($color-9,.8) 80%),
    linear-gradient(180deg, rgba($color-8,0) 20%, rgba($color-8,.4) 20%, rgba($color-8,.4) 40%, rgba($color-8,.6) 40%, rgba($color-8,.6) 60%, rgba($color-8,.8) 60%, rgba($color-8,.8) 80%, rgba($color-8,.9) 80%)
;
	background-color: $color-3;
	background-size: 100% 100%;
  animation: background 8s ease infinite;
}

.container {
  width: 75%;
  min-height: 85vh;
  margin: 15vh auto 0;
  border-radius: $pad-xlg $pad-xlg 0 0;
  background-color: $color-1;
  color: $color-3;
}

section {
  box-sizing: border-box;
  padding: $pad-sm $pad;
}

@keyframes background {
  0% {
    background:
      linear-gradient(180deg, rgba($color-3 ,0) 20%, rgba($color-3,.1) 20%, rgba($color-3,.1) 40%, rgba($color-3,.2) 40%, rgba($color-3,.2) 60%, rgba($color-3,.4) 60%, rgba($color-3,.4) 80%, rgba($color-3,.5) 80%),
      linear-gradient(45deg, rgba($color-6,.2) 20%, rgba($color-6,.3) 20%, rgba($color-6,.3) 40%, rgba($color-6,.55) 40%, rgba($color-6,.55) 60%, rgba($color-6,.75) 60%, rgba($color-6,.85) 80%, rgba($color-6,1) 80%),
      linear-gradient(-45deg, rgba($color-11,0) 20%, rgba($color-11,.1) 20%, rgba($color-11,.1) 40%, rgba($color-11,.2) 40%, rgba($color-11,.2) 60%, rgba($color-11,.4) 60%, rgba($color-11,.4) 80%, rgba($color-11,.6) 80%),
      linear-gradient(90deg, rgba($color-10,0) 20%, rgba($color-10,.3) 20%, rgba($color-10,.3) 40%, rgba($color-10,.5) 40%, rgba($color-10,.5) 60%, rgba($color-10,.7) 60%, rgba($color-10,.7) 80%, rgba($color-10,.8) 80%),
      linear-gradient(-90deg, rgba($color-9,0) 20%, rgba($color-9,.4) 20%, rgba($color-9,.4) 40%, rgba($color-9,.5) 40%, rgba($color-9,.5) 60%, rgba($color-9,.6) 60%, rgba($color-9,.6) 80%, rgba($color-9,.8) 80%),
      linear-gradient(180deg, rgba($color-8,0) 20%, rgba($color-8,.4) 20%, rgba($color-8,.4) 40%, rgba($color-8,.6) 40%, rgba($color-8,.6) 60%, rgba($color-8,.8) 60%, rgba($color-8,.8) 80%, rgba($color-8,.9) 80%)
  ;
  }
  4% {
    background:
      linear-gradient(180deg, rgba($color-3 ,0) 20%, rgba($color-3,.1) 20%, rgba($color-3,.1) 40%, rgba($color-3,.2) 40%, rgba($color-3,.2) 60%, rgba($color-3,.4) 60%, rgba($color-3,.4) 80%, rgba($color-3,.5) 80%),
      linear-gradient(45deg, rgba($color-6,.2) 20%, rgba($color-6,.3) 20%, rgba($color-6,.3) 40%, rgba($color-6,.55) 40%, rgba($color-6,.55) 60%, rgba($color-6,.75) 60%, rgba($color-6,.85) 80%, rgba($color-6,1) 80%),
      linear-gradient(-45deg, rgba($color-11,0) 20%, rgba($color-11,.1) 20%, rgba($color-11,.1) 40%, rgba($color-11,.2) 40%, rgba($color-11,.2) 60%, rgba($color-11,.4) 60%, rgba($color-11,.4) 80%, rgba($color-11,.6) 80%),
      linear-gradient(90deg, rgba($color-10,0) 20%, rgba($color-10,.3) 20%, rgba($color-10,.3) 40%, rgba($color-10,.5) 40%, rgba($color-10,.5) 60%, rgba($color-10,.7) 60%, rgba($color-10,.7) 80%, rgba($color-10,.8) 80%),
      linear-gradient(-90deg, rgba($color-9,0) 20%, rgba($color-9,.4) 20%, rgba($color-9,.4) 40%, rgba($color-9,.5) 40%, rgba($color-9,.5) 60%, rgba($color-9,.6) 60%, rgba($color-9,.6) 80%, rgba($color-9,.8) 80%),
      linear-gradient(180deg, rgba($color-8,0) 20%, rgba($color-8,.4) 20%, rgba($color-8,.4) 40%, rgba($color-8,.6) 40%, rgba($color-8,.6) 60%, rgba($color-8,.8) 60%, rgba($color-8,.8) 80%, rgba($color-8,.9) 80%)
  ;
  }
  4.5% {
    background:
      linear-gradient(180deg, rgba($color-3 ,0) 20%, rgba($color-3,.1) 20%, rgba($color-3,.1) 40%, rgba($color-3,.2) 40%, rgba($color-3,.2) 60%, rgba($color-3,.4) 60%, rgba($color-3,.4) 80%, rgba($color-3,.5) 80%),
      linear-gradient(45deg, rgba($color-4,.2) 20%, rgba($color-4,.3) 20%, rgba($color-6,.3) 40%, rgba($color-6,.55) 40%, rgba($color-6,.55) 60%, rgba($color-6,.75) 60%, rgba($color-6,.85) 80%, rgba($color-6,1) 80%),
      linear-gradient(-45deg, rgba($color-11,0) 20%, rgba($color-11,.1) 20%, rgba($color-11,.1) 40%, rgba($color-11,.2) 40%, rgba($color-11,.2) 60%, rgba($color-11,.4) 60%, rgba($color-11,.4) 80%, rgba($color-11,.6) 80%),
      linear-gradient(90deg, rgba($color-10,0) 20%, rgba($color-10,.3) 20%, rgba($color-10,.3) 40%, rgba($color-10,.5) 40%, rgba($color-10,.5) 60%, rgba($color-10,.7) 60%, rgba($color-10,.7) 80%, rgba($color-10,.8) 80%),
      linear-gradient(-90deg, rgba($color-9,0) 20%, rgba($color-9,.4) 20%, rgba($color-9,.4) 40%, rgba($color-9,.5) 40%, rgba($color-9,.5) 60%, rgba($color-9,.6) 60%, rgba($color-9,.6) 80%, rgba($color-9,.8) 80%),
      linear-gradient(180deg, rgba($color-8,0) 20%, rgba($color-8,.4) 20%, rgba($color-8,.4) 40%, rgba($color-8,.6) 40%, rgba($color-8,.6) 60%, rgba($color-8,.8) 60%, rgba($color-8,.8) 80%, rgba($color-8,.9) 80%)
  ;
  }
  5% {
    background:
      linear-gradient(180deg, rgba($color-3 ,0) 20%, rgba($color-3,.1) 20%, rgba($color-3,.1) 40%, rgba($color-3,.2) 40%, rgba($color-3,.2) 60%, rgba($color-3,.4) 60%, rgba($color-3,.4) 80%, rgba($color-3,.5) 80%),
      linear-gradient(45deg, rgba($color-4,.2) 20%, rgba($color-4,.3) 20%, rgba($color-4,.3) 40%, rgba($color-4,.55) 40%, rgba($color-6,.55) 60%, rgba($color-6,.75) 60%, rgba($color-6,.85) 80%, rgba($color-6,1) 80%),
      linear-gradient(-45deg, rgba($color-11,0) 20%, rgba($color-11,.1) 20%, rgba($color-11,.1) 40%, rgba($color-11,.2) 40%, rgba($color-11,.2) 60%, rgba($color-11,.4) 60%, rgba($color-11,.4) 80%, rgba($color-11,.6) 80%),
      linear-gradient(90deg, rgba($color-10,0) 20%, rgba($color-10,.3) 20%, rgba($color-10,.3) 40%, rgba($color-10,.5) 40%, rgba($color-10,.5) 60%, rgba($color-10,.7) 60%, rgba($color-10,.7) 80%, rgba($color-10,.8) 80%),
      linear-gradient(-90deg, rgba($color-9,0) 20%, rgba($color-9,.4) 20%, rgba($color-9,.4) 40%, rgba($color-9,.5) 40%, rgba($color-9,.5) 60%, rgba($color-9,.6) 60%, rgba($color-9,.6) 80%, rgba($color-9,.8) 80%),
      linear-gradient(180deg, rgba($color-8,0) 20%, rgba($color-8,.4) 20%, rgba($color-8,.4) 40%, rgba($color-8,.6) 40%, rgba($color-8,.6) 60%, rgba($color-8,.8) 60%, rgba($color-8,.8) 80%, rgba($color-8,.9) 80%)
  ;
  }
  5.5% {
    background:
      linear-gradient(180deg, rgba($color-3 ,0) 20%, rgba($color-3,.1) 20%, rgba($color-3,.1) 40%, rgba($color-3,.2) 40%, rgba($color-3,.2) 60%, rgba($color-3,.4) 60%, rgba($color-3,.4) 80%, rgba($color-3,.5) 80%),
      linear-gradient(45deg, rgba($color-4,.2) 20%, rgba($color-4,.3) 20%, rgba($color-4,.3) 40%, rgba($color-4,.55) 40%, rgba($color-4,.55) 60%, rgba($color-4,.75) 60%, rgba($color-6,.85) 80%, rgba($color-6,1) 80%),
      linear-gradient(-45deg, rgba($color-11,0) 20%, rgba($color-11,.1) 20%, rgba($color-11,.1) 40%, rgba($color-11,.2) 40%, rgba($color-11,.2) 60%, rgba($color-11,.4) 60%, rgba($color-11,.4) 80%, rgba($color-11,.6) 80%),
      linear-gradient(90deg, rgba($color-10,0) 20%, rgba($color-10,.3) 20%, rgba($color-10,.3) 40%, rgba($color-10,.5) 40%, rgba($color-10,.5) 60%, rgba($color-10,.7) 60%, rgba($color-10,.7) 80%, rgba($color-10,.8) 80%),
      linear-gradient(-90deg, rgba($color-9,0) 20%, rgba($color-9,.4) 20%, rgba($color-9,.4) 40%, rgba($color-9,.5) 40%, rgba($color-9,.5) 60%, rgba($color-9,.6) 60%, rgba($color-9,.6) 80%, rgba($color-9,.8) 80%),
      linear-gradient(180deg, rgba($color-8,0) 20%, rgba($color-8,.4) 20%, rgba($color-8,.4) 40%, rgba($color-8,.6) 40%, rgba($color-8,.6) 60%, rgba($color-8,.8) 60%, rgba($color-8,.8) 80%, rgba($color-8,.9) 80%)
  ;
  }
  6% {
    background:
      linear-gradient(180deg, rgba($color-3 ,0) 20%, rgba($color-3,.1) 20%, rgba($color-3,.1) 40%, rgba($color-3,.2) 40%, rgba($color-3,.2) 60%, rgba($color-3,.4) 60%, rgba($color-3,.4) 80%, rgba($color-3,.5) 80%),
      linear-gradient(45deg, rgba($color-4,.2) 20%, rgba($color-4,.3) 20%, rgba($color-4,.3) 40%, rgba($color-4,.55) 40%, rgba($color-4,.55) 60%, rgba($color-4,.75) 60%, rgba($color-4,.85) 80%, rgba($color-4,1) 80%),
      linear-gradient(-45deg, rgba($color-11,0) 20%, rgba($color-11,.1) 20%, rgba($color-11,.1) 40%, rgba($color-11,.2) 40%, rgba($color-11,.2) 60%, rgba($color-11,.4) 60%, rgba($color-11,.4) 80%, rgba($color-11,.6) 80%),
      linear-gradient(90deg, rgba($color-10,0) 20%, rgba($color-10,.3) 20%, rgba($color-10,.3) 40%, rgba($color-10,.5) 40%, rgba($color-10,.5) 60%, rgba($color-10,.7) 60%, rgba($color-10,.7) 80%, rgba($color-10,.8) 80%),
      linear-gradient(-90deg, rgba($color-9,0) 20%, rgba($color-9,.4) 20%, rgba($color-9,.4) 40%, rgba($color-9,.5) 40%, rgba($color-9,.5) 60%, rgba($color-9,.6) 60%, rgba($color-9,.6) 80%, rgba($color-9,.8) 80%),
      linear-gradient(180deg, rgba($color-8,0) 20%, rgba($color-8,.4) 20%, rgba($color-8,.4) 40%, rgba($color-8,.6) 40%, rgba($color-8,.6) 60%, rgba($color-8,.8) 60%, rgba($color-8,.8) 80%, rgba($color-8,.9) 80%)
  ;
  }
  20% {
    background:
      linear-gradient(180deg, rgba($color-3 ,0) 20%, rgba($color-3,.1) 20%, rgba($color-3,.1) 40%, rgba($color-3,.2) 40%, rgba($color-3,.2) 60%, rgba($color-3,.4) 60%, rgba($color-3,.4) 80%, rgba($color-3,.5) 80%),
      linear-gradient(45deg, rgba($color-4,.2) 20%, rgba($color-4,.3) 20%, rgba($color-4,.3) 40%, rgba($color-4,.55) 40%, rgba($color-4,.55) 60%, rgba($color-4,.75) 60%, rgba($color-4,.85) 80%, rgba($color-4,1) 80%),
      linear-gradient(-45deg, rgba($color-11,0) 20%, rgba($color-11,.1) 20%, rgba($color-11,.1) 40%, rgba($color-11,.2) 40%, rgba($color-11,.2) 60%, rgba($color-11,.4) 60%, rgba($color-11,.4) 80%, rgba($color-11,.6) 80%),
      linear-gradient(90deg, rgba($color-10,0) 20%, rgba($color-10,.3) 20%, rgba($color-10,.3) 40%, rgba($color-10,.5) 40%, rgba($color-10,.5) 60%, rgba($color-10,.7) 60%, rgba($color-10,.7) 80%, rgba($color-10,.8) 80%),
      linear-gradient(-90deg, rgba($color-9,0) 20%, rgba($color-9,.4) 20%, rgba($color-9,.4) 40%, rgba($color-9,.5) 40%, rgba($color-9,.5) 60%, rgba($color-9,.6) 60%, rgba($color-9,.6) 80%, rgba($color-9,.8) 80%),
      linear-gradient(180deg, rgba($color-8,0) 20%, rgba($color-8,.4) 20%, rgba($color-8,.4) 40%, rgba($color-8,.6) 40%, rgba($color-8,.6) 60%, rgba($color-8,.8) 60%, rgba($color-8,.8) 80%, rgba($color-8,.9) 80%)
  ;
  }
  26% {
    background:
      linear-gradient(180deg, rgba($color-3 ,0) 20%, rgba($color-3,.1) 20%, rgba($color-3,.1) 40%, rgba($color-3,.2) 40%, rgba($color-3,.2) 60%, rgba($color-3,.4) 60%, rgba($color-3,.4) 80%, rgba($color-3,.5) 80%),
      linear-gradient(45deg, rgba($color-4,.2) 20%, rgba($color-4,.3) 20%, rgba($color-4,.3) 40%, rgba($color-4,.55) 40%, rgba($color-4,.55) 60%, rgba($color-4,.75) 60%, rgba($color-4,.85) 80%, rgba($color-4,1) 80%),
      linear-gradient(-45deg, rgba($color-11,0) 20%, rgba($color-11,.1) 20%, rgba($color-11,.1) 40%, rgba($color-11,.2) 40%, rgba($color-11,.2) 60%, rgba($color-11,.4) 60%, rgba($color-11,.4) 80%, rgba($color-11,.6) 80%),
      linear-gradient(90deg, rgba($color-10,0) 20%, rgba($color-10,.3) 20%, rgba($color-10,.3) 40%, rgba($color-10,.5) 40%, rgba($color-10,.5) 60%, rgba($color-10,.7) 60%, rgba($color-10,.7) 80%, rgba($color-10,.8) 80%),
      linear-gradient(-90deg, rgba($color-9,0) 20%, rgba($color-9,.4) 20%, rgba($color-9,.4) 40%, rgba($color-9,.5) 40%, rgba($color-9,.5) 60%, rgba($color-9,.6) 60%, rgba($color-9,.6) 80%, rgba($color-9,.8) 80%),
      linear-gradient(180deg, rgba($color-8,0) 20%, rgba($color-8,.4) 20%, rgba($color-8,.4) 40%, rgba($color-8,.6) 40%, rgba($color-8,.6) 60%, rgba($color-8,.8) 60%, rgba($color-8,.8) 80%, rgba($color-8,.9) 80%)
  ;
  }
  26.5% {
    background:
      linear-gradient(180deg, rgba($color-3 ,0) 20%, rgba($color-3,.1) 20%, rgba($color-3,.1) 40%, rgba($color-3,.2) 40%, rgba($color-3,.2) 60%, rgba($color-3,.4) 60%, rgba($color-3,.4) 80%, rgba($color-3,.5) 80%),
      linear-gradient(45deg, rgba($color-4,.2) 20%, rgba($color-4,.3) 20%, rgba($color-4,.3) 40%, rgba($color-4,.55) 40%, rgba($color-4,.55) 60%, rgba($color-4,.75) 60%, rgba($color-6,.85) 80%, rgba($color-6,1) 80%),
      linear-gradient(-45deg, rgba($color-11,0) 20%, rgba($color-11,.1) 20%, rgba($color-11,.1) 40%, rgba($color-11,.2) 40%, rgba($color-11,.2) 60%, rgba($color-11,.4) 60%, rgba($color-11,.4) 80%, rgba($color-11,.6) 80%),
      linear-gradient(90deg, rgba($color-10,0) 20%, rgba($color-10,.3) 20%, rgba($color-10,.3) 40%, rgba($color-10,.5) 40%, rgba($color-10,.5) 60%, rgba($color-10,.7) 60%, rgba($color-10,.7) 80%, rgba($color-10,.8) 80%),
      linear-gradient(-90deg, rgba($color-9,0) 20%, rgba($color-9,.4) 20%, rgba($color-9,.4) 40%, rgba($color-9,.5) 40%, rgba($color-9,.5) 60%, rgba($color-9,.6) 60%, rgba($color-9,.6) 80%, rgba($color-9,.8) 80%),
      linear-gradient(180deg, rgba($color-8,0) 20%, rgba($color-8,.4) 20%, rgba($color-8,.4) 40%, rgba($color-8,.6) 40%, rgba($color-8,.6) 60%, rgba($color-8,.8) 60%, rgba($color-8,.8) 80%, rgba($color-8,.9) 80%)
  ;
  }
  27% {
    background:
      linear-gradient(180deg, rgba($color-3 ,0) 20%, rgba($color-3,.1) 20%, rgba($color-3,.1) 40%, rgba($color-3,.2) 40%, rgba($color-3,.2) 60%, rgba($color-3,.4) 60%, rgba($color-3,.4) 80%, rgba($color-3,.5) 80%),
      linear-gradient(45deg, rgba($color-4,.2) 20%, rgba($color-4,.3) 20%, rgba($color-4,.3) 40%, rgba($color-4,.55) 40%, rgba($color-6,.55) 60%, rgba($color-6,.75) 60%, rgba($color-6,.85) 80%, rgba($color-6,1) 80%),
      linear-gradient(-45deg, rgba($color-11,0) 20%, rgba($color-11,.1) 20%, rgba($color-11,.1) 40%, rgba($color-11,.2) 40%, rgba($color-11,.2) 60%, rgba($color-11,.4) 60%, rgba($color-11,.4) 80%, rgba($color-11,.6) 80%),
      linear-gradient(90deg, rgba($color-10,0) 20%, rgba($color-10,.3) 20%, rgba($color-10,.3) 40%, rgba($color-10,.5) 40%, rgba($color-10,.5) 60%, rgba($color-10,.7) 60%, rgba($color-10,.7) 80%, rgba($color-10,.8) 80%),
      linear-gradient(-90deg, rgba($color-9,0) 20%, rgba($color-9,.4) 20%, rgba($color-9,.4) 40%, rgba($color-9,.5) 40%, rgba($color-9,.5) 60%, rgba($color-9,.6) 60%, rgba($color-9,.6) 80%, rgba($color-9,.8) 80%),
      linear-gradient(180deg, rgba($color-8,0) 20%, rgba($color-8,.4) 20%, rgba($color-8,.4) 40%, rgba($color-8,.6) 40%, rgba($color-8,.6) 60%, rgba($color-8,.8) 60%, rgba($color-8,.8) 80%, rgba($color-8,.9) 80%)
  ;
  }
  27.5% {
    background:
      linear-gradient(180deg, rgba($color-3 ,0) 20%, rgba($color-3,.1) 20%, rgba($color-3,.1) 40%, rgba($color-3,.2) 40%, rgba($color-3,.2) 60%, rgba($color-3,.4) 60%, rgba($color-3,.4) 80%, rgba($color-3,.5) 80%),
      linear-gradient(45deg, rgba($color-6,.2) 20%, rgba($color-6,.3) 20%, rgba($color-6,.3) 40%, rgba($color-6,.55) 40%, rgba($color-6,.55) 60%, rgba($color-6,.75) 60%, rgba($color-6,.85) 80%, rgba($color-6,1) 80%),
      linear-gradient(-45deg, rgba($color-11,0) 20%, rgba($color-11,.1) 20%, rgba($color-11,.1) 40%, rgba($color-11,.2) 40%, rgba($color-11,.2) 60%, rgba($color-11,.4) 60%, rgba($color-11,.4) 80%, rgba($color-11,.6) 80%),
      linear-gradient(90deg, rgba($color-10,0) 20%, rgba($color-10,.3) 20%, rgba($color-10,.3) 40%, rgba($color-10,.5) 40%, rgba($color-10,.5) 60%, rgba($color-10,.7) 60%, rgba($color-10,.7) 80%, rgba($color-10,.8) 80%),
      linear-gradient(-90deg, rgba($color-9,0) 20%, rgba($color-9,.4) 20%, rgba($color-9,.4) 40%, rgba($color-9,.5) 40%, rgba($color-9,.5) 60%, rgba($color-9,.6) 60%, rgba($color-9,.6) 80%, rgba($color-9,.8) 80%),
      linear-gradient(180deg, rgba($color-8,0) 20%, rgba($color-8,.4) 20%, rgba($color-8,.4) 40%, rgba($color-8,.6) 40%, rgba($color-8,.6) 60%, rgba($color-8,.8) 60%, rgba($color-8,.8) 80%, rgba($color-8,.9) 80%)
  ;
  }
  28% {
    background:
      linear-gradient(180deg, rgba($color-3 ,0) 20%, rgba($color-3,.1) 20%, rgba($color-3,.1) 40%, rgba($color-3,.2) 40%, rgba($color-3,.2) 60%, rgba($color-3,.4) 60%, rgba($color-3,.4) 80%, rgba($color-3,.5) 80%),
      linear-gradient(45deg, rgba($color-6,.2) 20%, rgba($color-6,.3) 20%, rgba($color-6,.3) 40%, rgba($color-6,.55) 40%, rgba($color-6,.55) 60%, rgba($color-6,.75) 60%, rgba($color-6,.85) 80%, rgba($color-6,1) 80%),
      linear-gradient(-45deg, rgba($color-11,0) 20%, rgba($color-11,.1) 20%, rgba($color-11,.1) 40%, rgba($color-11,.2) 40%, rgba($color-11,.2) 60%, rgba($color-11,.4) 60%, rgba($color-11,.4) 80%, rgba($color-11,.6) 80%),
      linear-gradient(90deg, rgba($color-10,0) 20%, rgba($color-10,.3) 20%, rgba($color-10,.3) 40%, rgba($color-10,.5) 40%, rgba($color-10,.5) 60%, rgba($color-10,.7) 60%, rgba($color-10,.7) 80%, rgba($color-10,.8) 80%),
      linear-gradient(-90deg, rgba($color-9,0) 20%, rgba($color-9,.4) 20%, rgba($color-9,.4) 40%, rgba($color-9,.5) 40%, rgba($color-9,.5) 60%, rgba($color-9,.6) 60%, rgba($color-9,.6) 80%, rgba($color-9,.8) 80%),
      linear-gradient(180deg, rgba($color-8,0) 20%, rgba($color-8,.4) 20%, rgba($color-8,.4) 40%, rgba($color-8,.6) 40%, rgba($color-8,.6) 60%, rgba($color-8,.8) 60%, rgba($color-8,.8) 80%, rgba($color-8,.9) 80%)
  ;
  }
  28.5% {
    background:
      linear-gradient(180deg, rgba($color-3 ,0) 20%, rgba($color-3,.1) 20%, rgba($color-3,.1) 40%, rgba($color-3,.2) 40%, rgba($color-3,.2) 60%, rgba($color-3,.4) 60%, rgba($color-3,.4) 80%, rgba($color-3,.5) 80%),
      linear-gradient(45deg, rgba($color-6,.2) 20%, rgba($color-6,.3) 20%, rgba($color-6,.3) 40%, rgba($color-6,.55) 40%, rgba($color-6,.55) 60%, rgba($color-6,.75) 60%, rgba($color-6,.85) 80%, rgba($color-6,1) 80%),
      linear-gradient(-45deg, rgba($color-11,0) 20%, rgba($color-11,.1) 20%, rgba($color-11,.1) 40%, rgba($color-11,.2) 40%, rgba($color-11,.2) 60%, rgba($color-11,.4) 60%, rgba($color-11,.4) 80%, rgba($color-11,.6) 80%),
      linear-gradient(90deg, rgba($color-10,0) 20%, rgba($color-10,.3) 20%, rgba($color-10,.3) 40%, rgba($color-10,.5) 40%, rgba($color-10,.5) 60%, rgba($color-10,.7) 60%, rgba($color-10,.7) 80%, rgba($color-10,.8) 80%),
      linear-gradient(-90deg, rgba($color-9,0) 20%, rgba($color-9,.4) 20%, rgba($color-9,.4) 40%, rgba($color-9,.5) 40%, rgba($color-9,.5) 60%, rgba($color-9,.6) 60%, rgba($color-9,.6) 80%, rgba($color-9,.8) 80%),
      linear-gradient(180deg, rgba($color-8,0) 20%, rgba($color-8,.4) 20%, rgba($color-8,.4) 40%, rgba($color-8,.6) 40%, rgba($color-8,.6) 60%, rgba($color-8,.8) 60%, rgba($color-8,.8) 80%, rgba($color-8,.9) 80%)
  ;
  }
  100% {
    background:
      linear-gradient(180deg, rgba($color-3 ,0) 20%, rgba($color-3,.1) 20%, rgba($color-3,.1) 40%, rgba($color-3,.2) 40%, rgba($color-3,.2) 60%, rgba($color-3,.4) 60%, rgba($color-3,.4) 80%, rgba($color-3,.5) 80%),
      linear-gradient(45deg, rgba($color-6,.2) 20%, rgba($color-6,.3) 20%, rgba($color-6,.3) 40%, rgba($color-6,.55) 40%, rgba($color-6,.55) 60%, rgba($color-6,.75) 60%, rgba($color-6,.85) 80%, rgba($color-6,1) 80%),
      linear-gradient(-45deg, rgba($color-11,0) 20%, rgba($color-11,.1) 20%, rgba($color-11,.1) 40%, rgba($color-11,.2) 40%, rgba($color-11,.2) 60%, rgba($color-11,.4) 60%, rgba($color-11,.4) 80%, rgba($color-11,.6) 80%),
      linear-gradient(90deg, rgba($color-10,0) 20%, rgba($color-10,.3) 20%, rgba($color-10,.3) 40%, rgba($color-10,.5) 40%, rgba($color-10,.5) 60%, rgba($color-10,.7) 60%, rgba($color-10,.7) 80%, rgba($color-10,.8) 80%),
      linear-gradient(-90deg, rgba($color-9,0) 20%, rgba($color-9,.4) 20%, rgba($color-9,.4) 40%, rgba($color-9,.5) 40%, rgba($color-9,.5) 60%, rgba($color-9,.6) 60%, rgba($color-9,.6) 80%, rgba($color-9,.8) 80%),
      linear-gradient(180deg, rgba($color-8,0) 20%, rgba($color-8,.4) 20%, rgba($color-8,.4) 40%, rgba($color-8,.6) 40%, rgba($color-8,.6) 60%, rgba($color-8,.8) 60%, rgba($color-8,.8) 80%, rgba($color-8,.9) 80%)
  ;
  }
}
