body {
	min-height: 100%;
  background:
    linear-gradient(180deg, rgba($color-2 ,0) 20%, rgba($color-2,.1) 20%, rgba($color-2,.1) 40%, rgba($color-2,.2) 40%, rgba($color-2,.2) 60%, rgba($color-2,.4) 60%, rgba($color-2,.4) 80%, rgba($color-2,.5) 80%),
    linear-gradient(45deg, rgba($color-2,.2) 20%, rgba($color-2,.3) 20%, rgba($color-2,.3) 40%, rgba($color-2,.55) 40%, rgba($color-2,.55) 60%, rgba($color-2,.75) 60%, rgba($color-2,.85) 80%, rgba($color-2,1) 80%),
    linear-gradient(-45deg, rgba($color-10,0) 20%, rgba($color-10,.1) 20%, rgba($color-10,.1) 40%, rgba($color-10,.2) 40%, rgba($color-10,.2) 60%, rgba($color-10,.4) 60%, rgba($color-10,.4) 80%, rgba($color-10,.6) 80%),
    linear-gradient(90deg, rgba($color-2,0) 20%, rgba($color-2,.3) 20%, rgba($color-2,.3) 40%, rgba($color-2,.5) 40%, rgba($color-2,.5) 60%, rgba($color-2,.7) 60%, rgba($color-2,.7) 80%, rgba($color-2,.8) 80%),
    linear-gradient(-90deg, rgba($color-9,0) 20%, rgba($color-9,.4) 20%, rgba($color-9,.4) 40%, rgba($color-9,.5) 40%, rgba($color-9,.5) 60%, rgba($color-9,.6) 60%, rgba($color-9,.6) 80%, rgba($color-9,.8) 80%),
    linear-gradient(180deg, rgba($color-8,0) 20%, rgba($color-8,.4) 20%, rgba($color-8,.4) 40%, rgba($color-8,.6) 40%, rgba($color-8,.6) 60%, rgba($color-8,.8) 60%, rgba($color-8,.8) 80%, rgba($color-8,.9) 80%)
;
	background-color: $color-2;
	background-size: 100% 100%;
}

.container {
  width: 75%;
  min-height: 85vh;
  margin: 15vh auto 0;
  border-radius: $pad-xlg $pad-xlg 0 0;
  background-color: $color-1;
  color: $color-3;
}

section {
  box-sizing: border-box;
  padding: $pad-sm $pad;
}
